*{
  box-sizing: border-box;
}
body{
  font-family:cursive;
}
.example-1{
  background-color: black;
  color: white;
  padding: 15px 10px;
}
@media print {
  .example-1{
    background-color: white;
    color: black;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
  }
}
@media screen and (min-width:650px) {
  .example-1 {
background-color: brown;
font-size: 20px;
  }
}
@media screen and (max-width:450px) {
  .example-1 {
    background-color: chartreuse;
    font-size: 18px;
  }
}


.example-2{
  width: 20px;
  height: 20px;
  background-color: black;
}
@media screen and (min-width:400px) and (max-width:599px) {
  .example-2 {
   width: 40px;
   height: 40px;
  
  }
}
@media screen and (min-width:600px) and (max-width:799px) {
  .example-2 {
   width: 60px;
   height: 60px;
  
  }
}
@media screen and (min-width:800px) and (max-width:999px) {
  .example-2 {
   width: 80px;
   height: 80px;
   
  }
}
@media screen and (min-width:1000px) and (max-width:1199px) {
  .example-2 {
   width: 100px;
   height: 100px;
   
  }
}
@media screen and (min-width:1200px){
  .example-2 {
   width: 120px;
   height: 120px;
   
  }
}

.example-3 img {
float: left;
max-width: 100%;
}
@media screen and (min-width:500px) {
  .example-3 img {
width: 300px;
  }
}
